In [95]:
import pandas as pd

In [96]:
data = pd.read_csv('data/data.csv')
data.head()

,Unnamed: 0,id,title,description,ingredients,year,week,week_day
0,0,7d9a6e4e-9d34-4715-bf08-5b65f709d664,Klassisk minestronesuppe,"Oppskrift på italiensk minestronesuppe, med go...","rødløk, hvitløk, stangselleri, gulrøtter, chil...",NaN,NaN,NaN
1,1,d1ba9cfb-d048-9475-ddb9-1f1aa3cf33f1,Kremet pasta med laks,"Pasta med kremet saus, stekt laks og erter er ...","pasta, frosne grønne erter, smør, creme fraich...",NaN,NaN,NaN
2,2,9f4eac12-2edf-ad9c-14d9-90bb92bcc3d8,Kyllingfilet med soppsaus,Oppskrift på god og enkel hverdagsmiddag med k...,"løk, sjampinjong, crême fraiche, soyasaus, kyl...",NaN,NaN,NaN
3,3,8bec3976-7837-420d-b94f-d078b2ac6ae3,Klassisk risotto,"Slik lager du klassisk italiensk risotto, med ...","risottoris, olivenolje, gul løk, hvitvin, kyll...",NaN,NaN,NaN
4,4,328e4786-f496-4dde-a5f5-8675668a1c89,Lammeburger med kantareller og tyttebærkrem,Oppskrift på en saftig høstburger med sesongen...,"MENY lammeburgere, smør, burgerbrød, ferske ka...",NaN,NaN,NaN

In [97]:
data.count()

Unnamed: 0     1592
id             1592
title          1592
description    1592
ingredients    1592
year            986
week            986
week_day        986
dtype: int64

In [98]:
data["id"].count()

1592

In [99]:
data[data["title"].isna()]

Empty DataFrame
Columns: [Unnamed: 0, id, title, description, ingredients, year, week, week_day]
Index: []

In [100]:
data[data["description"].isna()]

Empty DataFrame
Columns: [Unnamed: 0, id, title, description, ingredients, year, week, week_day]
Index: []

In [101]:
data[data["ingredients"].isna()]

Empty DataFrame
Columns: [Unnamed: 0, id, title, description, ingredients, year, week, week_day]
Index: []

In [102]:
data["id"].nunique(), data["id"].count()

(721, 1592)

In [103]:
data[data["year"].isna()]["id"].nunique(), data[data["year"].isna()]["id"].count()

(465, 606)

In [104]:
data[data["year"].isna()]["id"].value_counts()

id
67902641-b348-45f2-b8dd-bee9a3070c9e    5
fcf79073-3d02-e0e2-3f87-ef5964f44d65    5
c1920a29-fbfb-468d-ae49-878729c7b077    4
8a4504df-b0f3-46ff-87fa-afc886049265    4
14049de0-c3d3-4d94-9b21-9d9de799f226    4
                                       ..
001dc642-9950-4ff8-88a0-8b163d1c8183    1
0e3e8416-bda6-42fa-bf66-c82532d2b468    1
7074419c-83d3-17a1-3c34-135ae878769d    1
888b7972-7b05-fff3-fb87-5dac77194656    1
6e738d02-295a-452d-a688-240c1041c0ba    1
Name: count, Length: 465, dtype: int64

In [105]:
data[data["id"] == "c1f87a51-7024-49ee-97ae-cf84d01ee083"]

,Unnamed: 0,id,title,description,ingredients,year,week,week_day
213,213,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",NaN,NaN,NaN
259,259,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",NaN,NaN,NaN
355,355,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",NaN,NaN,NaN
964,964,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2022.0,42.0,Tirsdag
1042,1042,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2022.0,31.0,Onsdag
1082,1082,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2022.0,25.0,Tirsdag
1145,1145,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2022.0,16.0,Tirsdag
1245,1245,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2022.0,2.0,Torsdag
1376,1376,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2021.0,35.0,Tirsdag
1411,1411,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2021.0,30.0,Tirsdag
1446,1446,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2021.0,25.0,Tirsdag
1467,1467,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2021.0,22.0,Tirsdag
1523,1523,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2021.0,14.0,Tirsdag
1579,1579,c1f87a51-7024-49ee-97ae-cf84d01ee083,Wok med villreker,"Oppskrift på rask, spicy wok med argentinske v...","kokte villreker, rapsolje, wok mix, kokt ris, ...",2021.0,6.0,Tirsdag

In [106]:
data = data.drop_duplicates(subset=["id", "year", "week", "week_day"])

In [107]:
data[data["year"].isna()]["id"].nunique(), data[data["year"].isna()]["id"].count()

(465, 465)

In [108]:
import numpy as np
data = data.fillna(np.nan).replace([np.nan], [None])
data.head()

,Unnamed: 0,id,title,description,ingredients,year,week,week_day
0,0,7d9a6e4e-9d34-4715-bf08-5b65f709d664,Klassisk minestronesuppe,"Oppskrift på italiensk minestronesuppe, med go...","rødløk, hvitløk, stangselleri, gulrøtter, chil...",None,None,None
1,1,d1ba9cfb-d048-9475-ddb9-1f1aa3cf33f1,Kremet pasta med laks,"Pasta med kremet saus, stekt laks og erter er ...","pasta, frosne grønne erter, smør, creme fraich...",None,None,None
2,2,9f4eac12-2edf-ad9c-14d9-90bb92bcc3d8,Kyllingfilet med soppsaus,Oppskrift på god og enkel hverdagsmiddag med k...,"løk, sjampinjong, crême fraiche, soyasaus, kyl...",None,None,None
3,3,8bec3976-7837-420d-b94f-d078b2ac6ae3,Klassisk risotto,"Slik lager du klassisk italiensk risotto, med ...","risottoris, olivenolje, gul løk, hvitvin, kyll...",None,None,None
4,4,328e4786-f496-4dde-a5f5-8675668a1c89,Lammeburger med kantareller og tyttebærkrem,Oppskrift på en saftig høstburger med sesongen...,"MENY lammeburgere, smør, burgerbrød, ferske ka...",None,None,None

In [109]:
import os
os.environ["OPENAI_API_KEY"] = "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"

In [110]:
def format_row(row):
    out = f"Tittel: {row['title']}. beskrivelse: {row['description']}. Ingredienser: {row['ingredients']}. "
    if row["year"] is not None:
        out += f"Del av ukesmeny i {row['year']}, uke {row['week']} på {row['week_day']}."
    return out

data["combined_info"] = data.apply(format_row, axis=1,)
data["combined_info"].iloc[0][-100:]

'de tomater, grønnsakskraft, hvite bønner, purre, pasta, oregano, salt, pepper, parmesan, basilikum. '

In [111]:
import tiktoken

embedding_model = "text-embedding-ada-002"
embedding_encoding = "cl100k_base"  # this the encoding for text-embedding-ada-002
max_tokens = 8000  # the maximum for text-embedding-ada-002 is 8191

encoding = tiktoken.get_encoding(embedding_encoding)

# omit descriptions that are too long to embed
data["n_tokens"] = data.combined_info.apply(lambda x: len(encoding.encode(x)))
offers = data[data.n_tokens <= max_tokens]

In [112]:
from openai.embeddings_utils import get_embedding

data["embedding"] = data.combined_info.apply(
    lambda x: get_embedding(x, engine=embedding_model),
)
data.head()

,Unnamed: 0,id,title,description,ingredients,year,week,week_day,combined_info,n_tokens,embedding
0,0,7d9a6e4e-9d34-4715-bf08-5b65f709d664,Klassisk minestronesuppe,"Oppskrift på italiensk minestronesuppe, med go...","rødløk, hvitløk, stangselleri, gulrøtter, chil...",None,None,None,Tittel: Klassisk minestronesuppe. beskrivelse:...,144,"[0.017990976572036743, -0.01862519048154354, -..."
1,1,d1ba9cfb-d048-9475-ddb9-1f1aa3cf33f1,Kremet pasta med laks,"Pasta med kremet saus, stekt laks og erter er ...","pasta, frosne grønne erter, smør, creme fraich...",None,None,None,Tittel: Kremet pasta med laks. beskrivelse: Pa...,126,"[0.023281844332814217, 0.00703345937654376, 0...."
2,2,9f4eac12-2edf-ad9c-14d9-90bb92bcc3d8,Kyllingfilet med soppsaus,Oppskrift på god og enkel hverdagsmiddag med k...,"løk, sjampinjong, crême fraiche, soyasaus, kyl...",None,None,None,Tittel: Kyllingfilet med soppsaus. beskrivelse...,150,"[0.00410190736874938, -0.0046774460934102535, ..."
3,3,8bec3976-7837-420d-b94f-d078b2ac6ae3,Klassisk risotto,"Slik lager du klassisk italiensk risotto, med ...","risottoris, olivenolje, gul løk, hvitvin, kyll...",None,None,None,Tittel: Klassisk risotto. beskrivelse: Slik la...,94,"[0.016856061294674873, -0.03409377112984657, -..."
4,4,328e4786-f496-4dde-a5f5-8675668a1c89,Lammeburger med kantareller og tyttebærkrem,Oppskrift på en saftig høstburger med sesongen...,"MENY lammeburgere, smør, burgerbrød, ferske ka...",None,None,None,Tittel: Lammeburger med kantareller og tyttebæ...,186,"[-0.01132960245013237, -0.02052549459040165, 0..."

In [113]:
data.rename(columns={"embedding": "vector"}, inplace=True)
data.rename(columns={"combined_info": "text"}, inplace=True)
data.to_pickle("data/preprocessed/recipes.pkl")
data.to_csv("data/preprocessed/recipes.csv")

In [114]:
# Group by 'year' and 'week' and aggregate the recipe 'id's into a list
grouped = data.groupby(['year', 'week'])['id'].apply(list).reset_index()

# Rename the columns for clarity
grouped.columns = ['year', 'week', 'menu_recipes']
grouped.head()

     year  week                                       menu_recipes
0  2021.0   5.0  [49ef9c6f-b7bf-4b63-aacd-68006a175420, 4536554...
1  2021.0   6.0  [102e7fde-1dd9-6960-6041-c0205b05449c, c1f87a5...
2  2021.0   7.0  [7914a2a8-4b3b-4a38-be04-1a80aca9d593, 83c4643...
3  2021.0   8.0  [e575aa39-2bcb-4cb6-bbcd-73cd3d6446eb, 80b25a4...
4  2021.0   9.0  [c6b34728-be74-dbf1-4fb6-ddf042823f16, b667803...

In [115]:
placeholder_value = -1  # or another suitable value
data['year'] = data['year'].fillna(placeholder_value).astype(int)
grouped['year'] = grouped['year'].fillna(placeholder_value).astype(int)

data['week'] = data['week'].fillna(placeholder_value).astype(int)
grouped['week'] = grouped['week'].fillna(placeholder_value).astype(int)


data["year"].head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: year, dtype: int32

In [116]:
# Merge the original dataframe with the grouped data to assign menu labels
df = pd.merge(data, grouped, on=['year', 'week'], how='left')

# Create a 'menu_id' column combining 'year' and 'week' for easier reference
df['menu_id'] = df['year'].astype(str) + "_" + df['week'].astype(str)
df['menu_id'] = df['menu_id'].replace('-1_-1', 'No_Menu_Assigned')

df.head()

,Unnamed: 0,id,title,description,ingredients,year,week,week_day,text,n_tokens,vector,menu_recipes,menu_id
0,0,7d9a6e4e-9d34-4715-bf08-5b65f709d664,Klassisk minestronesuppe,"Oppskrift på italiensk minestronesuppe, med go...","rødløk, hvitløk, stangselleri, gulrøtter, chil...",-1,-1,None,Tittel: Klassisk minestronesuppe. beskrivelse:...,144,"[0.017990976572036743, -0.01862519048154354, -...",NaN,No_Menu_Assigned
1,1,d1ba9cfb-d048-9475-ddb9-1f1aa3cf33f1,Kremet pasta med laks,"Pasta med kremet saus, stekt laks og erter er ...","pasta, frosne grønne erter, smør, creme fraich...",-1,-1,None,Tittel: Kremet pasta med laks. beskrivelse: Pa...,126,"[0.023281844332814217, 0.00703345937654376, 0....",NaN,No_Menu_Assigned
2,2,9f4eac12-2edf-ad9c-14d9-90bb92bcc3d8,Kyllingfilet med soppsaus,Oppskrift på god og enkel hverdagsmiddag med k...,"løk, sjampinjong, crême fraiche, soyasaus, kyl...",-1,-1,None,Tittel: Kyllingfilet med soppsaus. beskrivelse...,150,"[0.00410190736874938, -0.0046774460934102535, ...",NaN,No_Menu_Assigned
3,3,8bec3976-7837-420d-b94f-d078b2ac6ae3,Klassisk risotto,"Slik lager du klassisk italiensk risotto, med ...","risottoris, olivenolje, gul løk, hvitvin, kyll...",-1,-1,None,Tittel: Klassisk risotto. beskrivelse: Slik la...,94,"[0.016856061294674873, -0.03409377112984657, -...",NaN,No_Menu_Assigned
4,4,328e4786-f496-4dde-a5f5-8675668a1c89,Lammeburger med kantareller og tyttebærkrem,Oppskrift på en saftig høstburger med sesongen...,"MENY lammeburgere, smør, burgerbrød, ferske ka...",-1,-1,None,Tittel: Lammeburger med kantareller og tyttebæ...,186,"[-0.01132960245013237, -0.02052549459040165, 0...",NaN,No_Menu_Assigned

In [117]:
df = df.drop(columns="Unnamed: 0")
df.head()

,id,title,description,ingredients,year,week,week_day,text,n_tokens,vector,menu_recipes,menu_id
0,7d9a6e4e-9d34-4715-bf08-5b65f709d664,Klassisk minestronesuppe,"Oppskrift på italiensk minestronesuppe, med go...","rødløk, hvitløk, stangselleri, gulrøtter, chil...",-1,-1,None,Tittel: Klassisk minestronesuppe. beskrivelse:...,144,"[0.017990976572036743, -0.01862519048154354, -...",NaN,No_Menu_Assigned
1,d1ba9cfb-d048-9475-ddb9-1f1aa3cf33f1,Kremet pasta med laks,"Pasta med kremet saus, stekt laks og erter er ...","pasta, frosne grønne erter, smør, creme fraich...",-1,-1,None,Tittel: Kremet pasta med laks. beskrivelse: Pa...,126,"[0.023281844332814217, 0.00703345937654376, 0....",NaN,No_Menu_Assigned
2,9f4eac12-2edf-ad9c-14d9-90bb92bcc3d8,Kyllingfilet med soppsaus,Oppskrift på god og enkel hverdagsmiddag med k...,"løk, sjampinjong, crême fraiche, soyasaus, kyl...",-1,-1,None,Tittel: Kyllingfilet med soppsaus. beskrivelse...,150,"[0.00410190736874938, -0.0046774460934102535, ...",NaN,No_Menu_Assigned
3,8bec3976-7837-420d-b94f-d078b2ac6ae3,Klassisk risotto,"Slik lager du klassisk italiensk risotto, med ...","risottoris, olivenolje, gul løk, hvitvin, kyll...",-1,-1,None,Tittel: Klassisk risotto. beskrivelse: Slik la...,94,"[0.016856061294674873, -0.03409377112984657, -...",NaN,No_Menu_Assigned
4,328e4786-f496-4dde-a5f5-8675668a1c89,Lammeburger med kantareller og tyttebærkrem,Oppskrift på en saftig høstburger med sesongen...,"MENY lammeburgere, smør, burgerbrød, ferske ka...",-1,-1,None,Tittel: Lammeburger med kantareller og tyttebæ...,186,"[-0.01132960245013237, -0.02052549459040165, 0...",NaN,No_Menu_Assigned

In [118]:
df.to_csv('data/preprocessed/labeled_data.csv', index=False)
df.to_pickle('data/preprocessed/labeled_data.pkl')